.btn {
   width: 220px;
   padding: 1.2rem 2rem;
   font-size: .8rem;
   font-family: $font-secondary;
   font-weight: 500;
   border-radius: 4px;
   color: $color-primary;
   word-spacing: 3px;
}

.btn,
.btn:active {
   outline: none;
   border: 1px solid $color-primary;
   background-color: transparent;
}

.btn:hover {
   background-color: rgba($color: $color-primary, $alpha: .1);
}
