// Skill section
.about {

   &__skill-list {
      max-width: 22rem;
      display: grid;
      grid-template-columns: repeat(2, minmax(150px, 200px));
      column-gap: 5px;
      row-gap: 5px;
   }

   &__skill-icons {
      max-width: 22rem;
      margin-top: 2rem;
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      column-gap: 20px;
      row-gap: 30px;
      justify-content: center;
      align-self: center;
   }
}

.project {

   &__content-container {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      column-gap: 10px;
   }

   &__details-container,
   &__overview-container {
      grid-column: 1 / -1;
   }
}