// Skill section
.about {
   &__skill-list {
      display: grid;
      grid-template-columns: repeat(2, minmax(max-content, 200px));
      column-gap: 5px;
      row-gap: 5px;
      align-self: stretch;
   }

   &__skill-icons {
      align-self: stretch;
      margin-top: 2rem;
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      column-gap: 15px;
      row-gap: 30px;
      justify-content: center;
   }
}

.project {
   &__container {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      column-gap: 10px;
   }

   &__details-container,
   &__overview-container {
      grid-column: 2 / 12;
   }
}

.contact__form {
   display: grid;
   grid-template-columns: repeat(12, minmax(20px, 100px));
}

@media only screen and(min-width: 37.5em) {
   .project {
      &__details-container,
      &__overview-container {
         grid-column: 3 / 11;
      }
   }
}

@media only screen and(min-width: 48em) {
   .project {
      &__overview-container {
         grid-column: 1 / 8;
      }

      &__details-container {
         grid-column: 8 / 13;
      }
   }
}

@media only screen and(min-width: 62em) {
   section {
      max-width: 992px;
      margin: auto;

      &.banner {
         max-width: 1000px;
      }
   }
}
