.grid {
   display: grid;
   grid-template-columns: repeat(12, 1fr);
   row-gap: 1em;
   column-gap: 1em;
}

.width-1 {
   grid-column: span 1;
}

.width-2 {
   grid-column: span 2;
}

.width-3 {
   grid-column: span 3;
}

.width-4 {
   grid-column: span 4;
}

.width-5 {
   grid-column: span 5;
}

.width-6 {
   grid-column: span 6;
}

.width-7 {
   grid-column: span 7;
}

.width-8 {
   grid-column: span 8;
}

.width-9 {
   grid-column: span 9;
}

.width-10 {
   grid-column: span 10;
}

.width-11 {
   grid-column: span 11;
}

.width-12 {
   grid-column: span 12;
}

@media only screen and (max-width: 500px) {
   .width-1-s {
      grid-column: span 1;
   }
   
   .width-2-s {
      grid-column: span 2;
   }
   
   .width-3-s {
      grid-column: span 3;
   }
   
   .width-4-s {
      grid-column: span 4;
   }
   
   .width-5-s {
      grid-column: span 5;
   }
   
   .width-6-s {
      grid-column: span 6;
   }
   
   .width-7-s {
      grid-column: span 7;
   }
   
   .width-8-s {
      grid-column: span 8;
   }
   
   .width-9-s {
      grid-column: span 9;
   }
   
   .width-10-s {
      grid-column: span 10;
   }
   
   .width-11-s {
      grid-column: span 11;
   }
   
   .width-12-s {
      grid-column: span 12;
   }

}

@media only screen and (max-width: 760px) {
   .width-1-m {
      grid-column: span 1;
   }
   
   .width-2-m {
      grid-column: span 2;
   }
   
   .width-3-m {
      grid-column: span 3;
   }
   
   .width-4-m {
      grid-column: span 4;
   }
   
   .width-5-m {
      grid-column: span 5;
   }
   
   .width-6-m {
      grid-column: span 6;
   }
   
   .width-7-m {
      grid-column: span 7;
   }
   
   .width-8-m {
      grid-column: span 8;
   }
   
   .width-9-m {
      grid-column: span 9;
   }
   
   .width-10-m {
      grid-column: span 10;
   }
   
   .width-11-m {
      grid-column: span 11;
   }
   
   .width-12-m {
      grid-column: span 12;
   }
}

@media only screen and (max-width: 1024px) {
   .width-1-l {
      grid-column: span 1;
   }
   
   .width-2-l {
      grid-column: span 2;
   }
   
   .width-3-l {
      grid-column: span 3;
   }
   
   .width-4-l {
      grid-column: span 4;
   }
   
   .width-5-l {
      grid-column: span 5;
   }
   
   .width-6-l {
      grid-column: span 6;
   }
   
   .width-7-l {
      grid-column: span 7;
   }
   
   .width-8-l {
      grid-column: span 8;
   }
   
   .width-9-l {
      grid-column: span 9;
   }
   
   .width-10-l {
      grid-column: span 10;
   }
   
   .width-11-l {
      grid-column: span 11;
   }
   
   .width-12-l {
      grid-column: span 12;
   }
}

@media only screen and (max-width: 1200px) {
   .width-1-xl {
      grid-column: span 1;
   }
   
   .width-2-xl {
      grid-column: span 2;
   }
   
   .width-3-xl {
      grid-column: span 3;
   }
   
   .width-4-xl {
      grid-column: span 4;
   }
   
   .width-5-xl {
      grid-column: span 5;
   }
   
   .width-6-xl {
      grid-column: span 6;
   }
   
   .width-7-xl {
      grid-column: span 7;
   }
   
   .width-8-xl {
      grid-column: span 8;
   }
   
   .width-9-xl {
      grid-column: span 9;
   }
   
   .width-10-xl {
      grid-column: span 10;
   }
   
   .width-11-xl {
      grid-column: span 11;
   }
   
   .width-12-xl {
      grid-column: span 12;
   }
}