.header {
   width: 100%;
   background-color: $color-secondary;
   width: 100%;
   margin: 0 auto;
   padding: 0 1.5rem;
   height: 70px;
   position: absolute;
   top: 0;
   
   &__logo {
      // background-color: $color-primary;
      width: 40px;
      height: 40px;
      display: flex;
      border: 2px solid $color-primary;
      transform: rotate(45deg);
      margin-left: .25rem;
      margin-bottom: .25rem;
      
      &-img {
         margin: auto;
         font-size: 1rem;
         font-weight: 700;
         color: $color-primary;
         transform: rotate(-45deg);
      }
   }
   
   // Start of Nav
   &__nav {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      
      &-list {
         display: flex;
         flex-direction: column;
         width: 100%;
         height: 105vh;
         align-items: center;
         justify-content: center;
         background-color: $color-secondary;
         position: fixed;
         left: 0;
         bottom: -100vh;
         transition: bottom 650ms cubic-bezier(.63,.18,.57,.94);
         margin: 0;
         padding: 0;
         z-index: 1900;
         
         &.active {
            bottom: 0;
         }
      }

      &-link:link,
      &-link:visited {
         font-size: .8rem;
      }
      
      &-link {
         color: $color-primary;
         display: block;
         margin: 0 2rem;
         transform: scale(0);       // Initial state to hide the link
         transition: transform 650ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
      }
      
      &-item {
         line-height: 70px;
         position: relative;
         
         &::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 2px;
            background-color: $color-primary;
            bottom: 0;
            left: 0;
            transform: scaleX(0);
            transform-origin: right;
            transition: transform 650ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
         }
         
         &:hover::before {
            transform: scaleX(1);
            transform-origin: left;
         }
      }
      
      // Nav State When Active
      &-list.active &-link {
         transform: scale(1);
      }
      
      &-list.active &-item {
         visibility: visible;
         transition-delay: .5s;
      }
      
      &-list &-item {
         visibility: visible;
      }

      // Navigation Animation
      &-list.active &-item:nth-child(1) &-link {
         transition-delay: .3s;
      }
      &-list.active &-item:nth-child(2) &-link {
         transition-delay: .4s;
      }
      &-list.active &-item:nth-child(3) &-link {
         transition-delay: .5s;
      }
      &-list.active &-item:nth-child(4) &-link {
         transition-delay: .6s;
      }

      // Reverse Animation When Burger is Close
      &-list &-item:nth-child(1) &-link {
         transition-delay: .4s;
      }
      &-list &-item:nth-child(2) &-link {
         transition-delay: .3s;
      }
      &-list &-item:nth-child(3) &-link {
         transition-delay: .2s;
      }
      &-list &-item:nth-child(4) &-link {
         transition-delay: .1s;
      }
   }
   // End of Nav
   
   // Start Burger Menu
   &__hamburger {
      width: 35px;
      height: 1.3rem;
      position: relative;
      cursor: pointer;
      line-height: 5rem;
      z-index: 2000;
      
      &-line {
         width: 100%;
         height: 2px;
         background-color: $color-primary;
         position: absolute;
         display: block;
         right: 0;
         transition: all 650ms cubic-bezier(0.68, -0.25, 0.265, 1.55);
         
         &:nth-child(1) {
            top: 0;
         }
         &:nth-child(2) {
            top: 50%;
            margin-top: -1px;
            width: 80%;
         }
         &:nth-child(3) {
            top: 100%;
            margin-top: -2px;
            width: 80;
         }
      }
      
      // Burger Icon When Navigation is Active
      &.active &-line:nth-child(1) {
         transform: translateY(.6rem) rotate(45deg);
         width: 1.6rem;
      }
      &.active &-line:nth-child(2) {
         opacity: 0;
      }
      &.active &-line:nth-child(3) {
         transform: translateY(-.6rem) rotate(-45deg);
         width: 1.6rem;
      }
   }
   // End of Burger
}




@media screen and (min-width: 768px) {
   .header {

      &__nav {
         // max-width: 140rem;
      }
      
      &__nav-list {
         height: 100%;
         flex-direction: row;
         align-items: center;
         justify-content: flex-end;
         position: initial;
      }

      &__nav-link {
         transform: scale(1);
         transition: trnasform .1s ease;
      }

      &__hamburger {
         display: none;
      }
   }
}

@media only screen and(min-width: 48em) {
   .header {
      &__nav {
         
         &-list {
            width: 90%;
         }
      }
   }
}