// Bootstrap Theming
$color-primary: #66FCF1;
$color-primary-dark: #45A29E;
$color-secondary: #0A192F;
$color-grey: #8892B0;
$color-black: #0B0C10;
$color-white: #FFFFFF;


// MARGIN || PADDING
$unit-xs: .5rem;
$unit-s: 1rem;
$unit-m: 1.5rem;
$unit-l: 2.5rem;
$unit-xl: 4rem;

// FONT
$font-primary: 'Roboto Mono', sans-serif;
$font-secondary: 'Montserrat', sans-serif;
