body {
   width: 100%;
   background-color: $color-secondary;
   color:$color-grey;
}

.banner {
   margin: auto;
   max-width: 80vw;
   font-family: $font-secondary;
   height: 100vh;
   padding-top: 25vh;
   padding-bottom: 25vh;
   display: flex;
   flex-direction: column;
   
   &__head {
      color: $color-primary;
      font-family: $font-primary;
      font-size: .7rem;
      font-weight: 300;
      margin: 0;
   }
   
   &__name {
      justify-self: flex-start;
      margin: 0;
      color: $color-white;
      font-size: 3rem;
   }
   
   &__details {
      font-weight: 400;
      font-size: .9rem;
      line-height: 1.1rem;
      margin-bottom: 1.2rem;
   }
   
   & .btn {
      margin-top: auto;;
   }
   
}

.section {
   padding: 3rem 2rem;
   font-size: .9rem;
   
   &__heading {
      font-size: 1.5rem;
      display: flex;
      flex: 1;
      align-items: center;
      justify-content: center;
      
      &::after {
         content: "";
         display: block;
         flex: 1;
         height: .5px;
         background-color: $color-grey;
         position: relative;
         margin-left: 10px;
      }
   }
}

.about {
   
   // div
   &__content-container {
      display: flex;
      flex-direction: column;
      align-items: center;
   }
   
   // div
   &__content-details {
      max-width: 400px;
   }
   
   // div
   &__skill-container {
      margin-top: 2rem;
      width: 23rem;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
   }
   
   // list
   &__skill {
      font-size: .75rem;
      width: 100%;
      padding: .2rem 0;
      font-family: $font-primary;
      
      &-desc {
         margin: 0 auto 0 2rem;
      }
      
      &-arrow {
         color: $color-primary;
         font-size: .7rem;
      }
      
      &-icon {
         height: 50px;
         width: 50px;
         fill: $color-black;
         transition: all .3s ease;
         fill: $color-grey-dark;
         
         &.html {
            &:hover {
               fill: #de4b25;
            }
         }
         &.css {
            &:hover {
               fill: #3595D0;
            }
         }
         &.js {
            &:hover {
               fill: #E9D44E;
            }
         }
         &.php {
            &:hover {
               fill: #858FB9;
            }
         }
         &.mysql {
            &:hover {
               fill: #005E86;
            }
         }
         &.sass {
            &:hover {
               fill: #E287B2;
            }
         }
         &.bootstrap {
            &:hover {
               fill: #5F4686;
            }
         }
         &.jquery {
            &:hover {
               fill: #0865A6;
            }
         }
         &.gitlab {
            &:hover {
               fill: #F59F25;
            }
         }
         &.github {
            &:hover {
               fill: $color-black;
            }
         }
      }
   }
   
}

.project {
   font-family: $font-secondary;

   &__container {
      height: 65vh;  // todo: change height of main container for overlay effect
      margin: 2rem 0 5rem 0;
   }

   &__details-container {
      padding: 1.5rem;
      position: absolute;
      height: 65vh;
      z-index: 1500;
      width: 300px;
      max-width: 450px;
      display: flex;
      flex-direction: column;

      & .project__project {
         margin: .2rem 0;
         font-family: $font-primary;
         color: $color-primary;
         font-weight: 400;
      }
      & .project__name {
         margin: .3rem 0;
   
         & a{
            font-family: $font-secondary;
            color: $color-grey;
            font-weight: 700;
            transition: all .3s ease;
            
            &:hover {
               color: $color-primary;
            }
         }
      }
      & .project__description {
         font-weight: 500;
      }
      
      & .project__tech {
         width: 100%;
         margin-top: auto;

         &-list {
            display: flex;
            padding: 0;
            justify-content: space-evenly;
         }

         &-item {
            font-size: .8rem;
            font-family: $font-primary;
            font-weight: 300;
            color: $color-primary;
         }
      }

      & .project__link {
         margin-top: auto;
         margin-bottom: 2rem;
         display: flex;
         justify-content: space-evenly;
   
         &-icon {
            fill: $color-white;
            height: 30px;
            width: 30px;
   
            &:hover {
               fill: $color-primary;
            }
         }
      }
   }

   &__overview-container {
      text-align: center;
      position: relative;
      overflow: hidden;
      height: 100%;
      
      & figure {
         margin: 0;
      }

      & .img-overlay {
         height: 100%;
         width: 100%;
         background-image: linear-gradient($color-primary-overlay-dk, $color-primary-overlay-dk);
         position: absolute;
         z-index: 1000;
         top: 0;
         left: 0;
         transition: all .3s ease;
         
         // ! only for larger screen
         /*&:hover {
            opacity: .4;
         }*/
      }

      & img {
         object-fit: cover;
         object-position: top;
         width: 100%;
         height: 100%;
         z-index: -10;
         transition: all .3s ease;
      }
      
      & .img-overlay:hover ~ img {
         transform: scale(1.1);
      }
   }
}